
.nav {
    background-color: #ffffff;
    padding: 0 11%;
    height: auto;
    text-align: right;
    margin: 0;
    border: 1px solid #cccccc;
    }

 li {
    display: inline-block;
    margin: 30px;
    position: relative;
    left: 10px;
    }

  .name {
    background: #4aaaa5;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    float: left;
    padding: 17px;
    margin-top: 10px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    }

  .link {
    font-size: 20px;
    color:#777777;
    float: right;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    }
 
  .link:hover {
    color:#4aaaa5; 
    }

  .nav > li > a {
    text-decoration: none;
    }

  .clearfix {
    overflow: auto;
    }   

 .photo {
     width: 250px;
     height: 350px;
     float: left;
     margin: 10px 10px 10px 10px;
 }

  section {
     width: 650px;
     margin: 30px 30px 30px 150px;
     border: 1px solid #cccccc;
     font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
     background: #ffffff;
     float: left;
     padding: 15px;
    }

 p, form {
    line-height: 2.0;
    color: #777777;
    font-size: 18px;
    }

 h1 {
    color: #4aaaa5;
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    }

 h2 {
    color: #4aaaa5;
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    }

 h3 {
    color: #ffffff;
    font-size: 20px;
    padding: 20px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    }

.contact{
    border: 1px solid #cccccc;
}

.connect{
    width:270px;
    height:180px;
    position:absolute;
    left:740px;
    text-align: center;
    margin: 30px 30px 30px 150px;
    padding: 15px;
    }

.img {
    height: 65px;
    width: 65px;
    padding: 10px;
    float: left;
    }

.img:hover{
    height: 70px;
    width: 70px;
    }

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5%;
    background-color: #666666;
    color: #ffffff;
    text-align: center;
    border-top: 10px;
    border-top-style: solid;
    border-top-color: #4aaaa5;
    padding-top: 20px;
    }

input, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ffffff;
    box-sizing: border-box;
}

#message {
    height: 300px;
}

button {
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 12px 30px;
    font-size: 15px;
    }

button:hover {
    background-color: #4aaaa5;
    font-size: 20px;
    }

.icon {
    width: 280;
    height: 200;
    margin: 20px;
    background-size:280px 200px;
    background-repeat: no-repeat;
    display: inline-table;
    }

.transbox {
    background-color:#4aaaa5;
    color: #ffffff;
    opacity: 0.9;
    width: 100%;
    height:30%;
    text-align: center;
    margin-top: 130px;
    }

.transbox:hover{
    opacity: 1.0;
    background-color: #4aaaa5;
    }
 
    @media screen and (min-width: 768px) and (max-width: 960px) {
        
                 section {
                   width: 700px;
                   position: relative;
                   left: -135px;
                }
                .connect{
                    position: relative;
                    bottom: 0px;
                    left: -135px;
                    width: 700px;
                }
                .nav{
                    padding: 0;
                }
        
                .icon{
                    width: 660px;
                    height: 500px;
                    background-size: 660px 500px;
                }
        
                .transbox{
                    margin-top: 320px;
                }
        
                h3{
                    font-size: 50px;
                }
            }
    

 @media screen and (max-width: 767px){

        section {
           width: 580px;
           position: relative;
           left: -135px;
        }
        .connect{
            position: relative;
            bottom: 0px;
            left: -135px;
            width: 580px;
        }
        .nav{
            padding: 0;
        }

        .name {
            padding: 30px 30%;
        }

        li{
            padding: 0 3%;
        }

        .icon{
            width: 530px;
            height: 400px;
            background-size: 530px 400px;
        }

        .transbox{
            margin-top: 250px;
        }

        h3{
            font-size: 50px;
        }
    }

  